<div id="education" class="row mobmid">
    <div class="col-sm-1">
        <span class="secicon fa fa-graduation-cap"></span>
    </div>
    <!--icon end-->
    <div class="col-sm-11">
        <h3>Education &amp; Certification</h3>
        <div class="row">
            <div class="col-md-9">
                <h4>Professional Master's Degree</h4>
                <p class="sub"><a target="_blank" href="http://www-master.ufr-info-p6.jussieu.fr/lmd/specialite/stl/">Université de Paris 6 - Pierre et Marie Curie</a></p>
                <p>Science et Technologie du Logiciel specialty API (Algorithmique et Programmation pour l'Ingénierie) </p>
            </div>
            <div class="year col-md-3">
                <p>2007-2012</p>
            </div>
        </div>
        <!--Education & Certification 1 end-->
        <div class="row">
            <div class="col-md-9">
                <h4>BSc in Graphic Design</h4>
                <p class="sub"><a href="">Ideal Institute of Science and Technology</a>
                </p>
                <p>Studying all aspect of Graphic Design Including Advertising Design, Branding, Copy Exhibition Design, Ilustration,
                    Information Design, Packaging Design and Website Design</p>
            </div>

            <div class="year col-md-3">
                <p>2006-2009</p>
            </div>
        </div>
        <!--Education & Certification 2 end-->
        <div class="row">
            <div class="col-md-9">
                <h4>Diploma in Graphic Design</h4>
                <p class="sub"><a href="">Ideal Institute of Science and Technology</a>
                </p>
                <p>Studying all aspect of Graphic Design Including Advertising Design, Branding, Copy Exhibition Design, Ilustration,
                    Information Design, Packaging Design and Website Design</p>
            </div>

            <div class="year col-md-3">
                <p>2003-2006</p>
            </div>
        </div>
        <!--Education & Certification 3 end-->
    </div>
</div>
<!--Education & Certifications end-->