<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
    <div class="container">
        <!-- ===========================
        HEADER
        ============================ -->

        {% include header.html %}

            <hr class="firsthr">
             <div id="statement" class="row mobmid">
                <div class="col-sm-1">
                    <span class="secicon fa fa-user"></span>
                </div>

                <div class="col-sm-11">
                    <h3>Summary </h3>
                    {{ site.summary }}
                    <p class="signature"></p>
                </div>
            </div>
            <hr class="firsthr">
        <!-- ===========================
        BODY LEFT PART
        ============================ -->
        <div class="col-md-9 mainleft">



            <!--personal statement end-->
            <!-- ===========================
            JOB EXPERIENCES
            ============================ -->
            {% include experience.html %}
            <hr>
            {% include education.html %}

        </div>
        <!--left end-->

        <!-- ===========================
        SIDEBAR
        =========================== -->
        <div class="col-md-3 mainright">
            {% include skills.html %}
            
            <!--tech skills end-->
            <hr>
        </div>
        <!--right end-->
    </div>
    <!--container end-->

    <!-- ===========================
    FOOTER
    =========================== -->
    {% include footer.html %}
</body>

</html>