<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
    <div class="container">
        <!-- ===========================
        HEADER
        ============================ -->

        {% include header.html %}

            <hr class="firsthr">
             <div id="statement" class="row mobmid">
                <div class="col-sm-1">
                    <span class="secicon fa fa-user"></span>
                </div>

                <div class="col-sm-11">
                    <h3>Summary </h3>
                    {{ site.summary }}
                    <p class="signature"></p>
                </div>
            </div>
            <hr class="firsthr">
        <!-- ===========================
        BODY LEFT PART
        ============================ -->
        <div class="col-md-8 mainleft">



            <!--personal statement end-->
            <!-- ===========================
            JOB EXPERIENCES
            ============================ -->
            {% include experience.html %}
            <hr>
            {% include education.html %}

        </div>
        <!--left end-->

        <!-- ===========================
        SIDEBAR
        =========================== -->
        <div class="col-md-4 mainright">
            {% include skills.html %}
            <hr>
            <div class="row ">
                <div class="col-sm-1 col-md-2 mobmid">
                    <span class="secicon fa fa-twitter"></span>
                </div>
                <!--icon end-->
                <div class="col-sm-11 col-md-10 testimonials">
                    <h3 class="mobmid">Twitter </h3>
                    <a target="_blank" class="twitter-timeline" href="https://twitter.com/korben" data-widget-id="">Tweets de @aklireguig</a>
                </div>
                <!--testimonials end-->
            </div>
            <!--tech skills end-->
            <hr>
        </div>
        <!--right end-->
    </div>
    <!--container end-->

    <!-- ===========================
    FOOTER
    =========================== -->
    {% include footer.html %}
</body>

</html>